@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    background-image: url("images/bg3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
  }

.logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 3%;
}

.logo_topic{
    font-family: oswald;
    font-size: 50px;
    margin-left: 12%;
    margin-top: -7.5%;
    color: rgb(255, 255, 255);
}

.logo_sub_topic{
    font-family: oswald;
    font-size: 20px;
    margin-left: 12%;
    margin-top: -3%;
    color: rgb(255, 0, 0);
}

.navbar{
    margin-left:40%;
    margin-top:-5%;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 5vh;

    position:relative;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 800px;
    height: 50px;
    display: flex;
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: aliceblue;
    text-decoration: none;
    padding: 0 45px;
    z-index: 1;
}

nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,#000000,#eb8c8c);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span
{
    left: 0;
    width: 400;
}

nav a:nth-child(2):hover~span
{
    left: 150px;
    width: 110px;
}

nav a:nth-child(3):hover~span
{
    left: 284px;
    width: 110px;
}

nav a:nth-child(4):hover~span
{
    left: 415px;
    width: 115px;
}

nav a:nth-child(5):hover~span
{
    left: 555px;
    width: 110px;
}

nav a:nth-child(6):hover~span
{
    left: 690px;
    width: 110px;
}

.topic_line{
    border: none;
    margin-top: 3%;
    border-top: 7px solid rgb(102, 9, 9);
    border-radius: 10px;
}
.topic{
    font-family: Oswald;
    margin-top: 3%;
    margin-left:5%;
    color: rgb(102, 9, 9) ;
    text-align: left;
    font-size: 50px;
}

.subtopic{
    font-family: Oswald;
    margin-top: -1%;
    margin-left:5%;
    color: rgb(102, 9, 9) ;
    text-align: left;
    font-size: 20px;
}

.textfeild{
    font-family: oswald;
    width: 350px;
    height: 90px;
    border-radius: 10px;
    background-color: hsl(0, 69%, 90%);
    margin-left: 5%;
    margin-top: 4%;
}

.submit_button{
    box-shadow:0 0 15px rgb(245, 129, 109),0 0 25px rgb(149, 104, 96);
    display: block;
    margin: auto;
    border: none;
    outline: none;
    margin-bottom: 3%;
    margin-top: 7%;
    width: 120px;
    font-family: oswald;
    padding: 10px 12px;
    background-color: color-mix(in srgb, #dc6666 60%, #e7ed7f 40%);
    border-radius: 10px;  
}

.submit_button:hover{
    box-shadow: 0 0 45px rgb(226, 80, 64);
}

.footer_line{
    border: none;
    margin-top: 3%;
    border-top: 7px solid rgb(107, 11, 11);
    border-radius: 10px;
}

.help_button{
    box-shadow:0 0 15px rgb(0, 108, 175),0 0 25px rgb(0, 108, 175);
    border: none;
    width: 160px;
    font-family: oswald;
    padding: 10px 12px;
    color: #ffffff;
    background-color:rgb(0, 108, 175);
    border-radius: 20px;
}

.help_button:hover{
    box-shadow: 0 0 45px rgb(0, 108, 175);
}

.fb_icon{
    margin-left: 185px;
    margin-top: -45px;
} 

.insta_icon{
    margin-left: 250px;
    margin-top: -51px;
}

.twitt_icon{
    margin-left: 316px;
    margin-top: -51px;
}

.yt_icon{
    margin-left: 385px;
    margin-top: -51px;
}

.footer{
    height: 80px;
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-left: 25px;
    border-radius: 10px;
}

.contacts{
    width: 270px;
    height: 100px;
    font-size: 10px;
    color:antiquewhite;
    background-color:#eb8c8c;
    font-family: oswald;
    padding: 5px;
    border-radius: 10px;
    margin-left: 81%;
    margin-top: -7.5%;
}

